html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --deep-red-64: rgba(172, 16, 0, 0.64);
  --purple-brown: #231f20;
  --black-70: rgba(0, 0, 0, 0.7);
  --greyish: #aba9a7;
  --faded-red: #e74246;
  --white-three: #f9f6f3;
  --greyish-teal: #849d8f;
  --white-60: rgba(255, 255, 255, 0.6);
  --wheat: #ffd180;
  --pale-grey: #f4f7f9;
  --marigold: #ffc600;
  --strawberry: #ee3643;
  --black: #000000;
  --greyish-two: #a6a6a6;
  --primary-dark: #293449;
  --primary--dark-blue: #212a3a;
  --dark-blue: #32425c;
  --grey-blue: rgba(50, 66, 92, 0.3);
  --dark-forest-green-20: rgba(0, 1, 1, 0.2);
  --butterscotch: #ffbf47;
  --white: #f2f2f2;
  --white-four: #ffffff;
  --charcoal-grey: #283136;
  --brownish-grey: #666666;
  --greyish-brown: #444444;
  --green-static: #63a63e;
  --green-bright: #5fbb2d;
  --green-dark: #518534;
  --strawberry-hover: #ca2c37;
  --strawberry-active: #ba2732;
  --pale-pink: #f9f5f0;
  --light-grey: #dee3e4;
  --average-grey: #a9a9a9;
  --greyish: #b5b5b5;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", sans-serif, "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: var(--white-four);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 972px;
  margin: 0 auto;
  padding: 0 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* components         */

.button {
  font-family: "Cuprum", sans-serif;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white-four);
}

.button--red,
.button--red-static {
  background-color: var(--strawberry);
  color: var(--white-four);
  line-height: 16px;
  padding: 11px 30px;
  border: none;
}

.button--red:hover {
  background-color: var(--strawberry-hover);
}

.button--red:active {
  background-color: var(--strawberry-active);
}

.button--green {
  padding: 12px;
  background-color: var(--green-static);
}

.button--green:hover {
  background-color: var(--green-bright);
}

.button--green:active {
  background-color: var(--green-dark);
}

.button--green-border {
  padding: 12px 32px 12px 32px;
  color: var(--dark-blue);
  border: 2px solid var(--green-static);
}

.button--green-border:hover {
  border: 2px solid var(--dark-blue);
}

.button--green-border:active {
  color: var(--grey-blue);
  border: 2px solid var(--grey-blue);
}

.button--ghost {
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--white-four);
  padding: 11px 24px;
}

.button--ghost:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.button--ghost:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.heading {
  font-weight: normal;
  color: var(--dark-blue);
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  margin: 0;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 24px 26px 30px;
  margin-bottom: 20px;
  background-color: var(--pale-pink);
}

.section-heading__heading {
  align-self: center;
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--dark-blue);
  margin: 0;
}

.heading--black {
  color: var(--black);
}

.unordered-list {
  color: var(--black);
  font-size: 18px;
  margin: 0;
}

.unordered-list__item:not(:last-child) {
  padding-bottom: 20px;
}

.logo--small {
  max-width: 109px;
  height: auto;
}

.navigation__list {
  list-style: none;
}

.navigation--yellow {
  color: var(--wheat);
}

.footer-navigation__link--yellow:active {
  color: rgba(255, 209, 128, 0.5);
}

.socials-list {
  list-style: none;
}

/* HEADER STYLES */

.header {
  background-color: var(--pale-grey);
}

.header__top {
  background-color: var(--primary-dark);
}

.header__top-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 42px;
}

.logo-link {
  width: 220px;
  background-color: var(--strawberry);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo-link:hover {
  background-color: var(--strawberry-hover);
}

.logo-link:active {
  background-color: var(--strawberry-active);
}

.header__search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: 15px;
}

.header__utility-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  font-size: 17px;
  line-height: 20px;
  padding: 11px 18px;
  margin-right: 2px;
}

.header__icon {
  margin-right: 15px;
  opacity: 0.3;
}

.header__utility-button:hover {
  background-color: var(--primary--dark-blue);
}

.header__utility-button:hover .header__icon {
  opacity: 1;
}

.header__utility-button:active:not(.header__search) {
  color: var(--white-60);
}

.header__utility-button:active {
  background-color: #161d29;
}

.header__utility-button--accent {
  background-color: var(--green-static);
}

.header__utility-button--accent:hover {
  background-color: var(--green-bright);
}

.header__utility-button--accent:active {
  background-color: var(--green-dark);
}

.search-field__input {
  height: 100%;
  background-color: var(--primary-dark);
  padding: 11px 18px;
  border: none;
}

.search-field__input::placeholder {
  color: var(--white-four);
}

.search-field__input:focus {
  background-color: var(--white-four);
  color: var(--black);
}

.header__bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 45px auto 33px auto;
}

.header__log-in-button:nth-child(1) {
  margin-right: 10px;
}

/* .header__bottom-container div {
  flex-basis: 30%;
} */

.header__about,
.header__contacts {
  color: var(--strawberry);
  padding: 0;
  margin: 0;
}

.header__about {
  font-style: italic;
  font-size: 16px;
  line-height: 21px;
  max-width: 263px;
  padding-top: 5px;
  padding-left: 50px;
  line-height: 1.44;
}

.header__mobile-number {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  font-size: 21px;
  line-height: 21px;
  padding: 12px 35px;
  outline: 2px solid var(--white-four);
}

.header__mobile-number::before {
  position: absolute;
  content: "";
  width: 19px;
  height: 19px;
  left: 20px;
  background-image: url("../img/icons/icon-phone.svg");
}

.header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 5px 0; */
}

.header__address {
  color: var(--dark-blue);
  font-size: 14px;
  line-height: 17px;
  margin: 9px 0;
}

.header__log-in-wrapper {
  display: flex;
  align-items: flex-start;
}

.header__log-in-icon {
  margin-right: 15px;
}

.header__log-in-button:hover {
  color: var(--strawberry);
}

/* .header__log-in-button:hover .header__log-in-icon {
  fill: initial;
  opacity: 0.5;
} */

.header__navigation {
  background-color: var(--dark-blue);
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.navigation__link {
  display: block;
  padding: 15px 31px;
  line-height: 25px;
  font-size: 17px;
}

/* .navigation__link:nth-child(1) {
  padding-left: 21px;
}

.navigation__link:last-child {
  padding-right: 21px;
} */

.navigation__link:hover {
  background-color: var(--primary-dark);
}

.navigation__link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.main-page {
  color: var(--black);
}

/* FOOTER  */

.footer__logo {
  align-self: flex-start;
  width: 220px;
  height: 68px;
}

.footer-navigation,
.footer__socials-list {
  margin: 0;
  list-style: none;
}

.footer__socials-list {
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-navigation__link {
  display: inline-block;
  padding: 35px 30px 30px 30px;
}

.footer-navigation__link:hover {
  text-decoration: underline;
}

.footer-navigation__link:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-navigation--yellow {
  color: var(--wheat);
}

.footer-navigation__link--yellow {
  padding-top: 0;
}

.footer-navigation__link--yellow:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer__top {
  background-color: var(--dark-blue);
  font-size: 18px;
}

.footer__flex-container,
.footer__bottom-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 550px;
  padding: 0;
}

.footer__flex-container {
  align-items: flex-start;
}

.footer__flex-container:nth-child(2) {
  padding: 25px 0 40px 0;
}

.footer__bottom {
  font-size: 16px;
  background-color: var(--primary-dark);
}

.footer__bottom-flex-container {
  padding-top: 39px;
  padding-bottom: 35px;
}

.footer__address,
.footer__copyright,
.footer__developer-info,
.footer__contact {
  margin: 0;
}
/* 
.footer__copyright {
  margin: 0;
} */

/* .socials-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.socials-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: var(--primary--dark-blue);
}

.socials-list__link:hover,
.socials-list__link:active {
  background-color: var(--strawberry);
}

.footer__contact-email,
.footer__developer-link {
  color: var(--wheat);
}

.footer__contact-email:hover,
.footer__developer-link:hover {
  text-decoration: underline;
}

.footer__contact-email:active,
.footer__developer-link:active {
  color: var(--strawberry);
}

/* CATALOG  PAGE


HEADER   */

.authorization-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
  background-color: var(--white-four);
  font-size: 21px;
  padding: 15px 22px;
}

.authorization-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.authorization-button:hover .header__log-in-icon {
  fill: red;
  opacity: 0.5;

  /* change color to original */
}

.user-menu__button {
  padding: 12px 12px 14px 12px;
  width: 300px;
}

.user-menu__link {
  color: var(--dark-blue);
  text-decoration: underline;
  position: relative;
}

.user-menu__link:first-child::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  top: 8px;
  border-radius: 50%;
  background-color: currentColor;
}

.user-menu__icon:first-child {
  margin-right: 10px;
}

.user-menu__icon:last-child {
  margin-left: auto;
}

.user-menu__link:hover {
  color: var(--strawberry);
}

.user-menu__link:active {
  color: var(--grey-blue);
}

/* BREADCRUMBS */

.breadcrumbs {
  font-size: 13px;
  text-transform: uppercase;
  color: var(--black);
}

.breadcrumbs__icon {
  display: inline-block;
  height: 12px;
  width: 14px;
  background-image: url(../img/icons/icon-home.svg);
  background-repeat: no-repeat;
}

.catalog-main {
  color: var(--black);
}

.catalog-main li {
  list-style: none;
}

.filter-form {
  text-transform: uppercase;
  font-size: 15px;
}

.filter-form__legend {
  font-size: 17px;
  font-weight: bold;
}

.catalog,
.breadcrumbs,
.filters {
  font-family: "PT Sans", sans-serif;
}

.heading {
  font-family: "Cuprum", sans-serif;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.catalog-list__item {
  display: flex;
  flex-flow: column;
  align-items: center;
  flex-basis: 220px;
  font-weight: bold;
  margin: 0 0px 21px 0;
  outline: 1px solid var(--white-three);
}

.catalog-list__heading {
  font-size: 18px;
  text-align: center;
  margin: 12px 0 12px 0;
}

.catalog-list__wrapper {
  display: none;
}

.catalog-list__cart-icon {
  opacity: 0.3;
}

.catalog-list__button-hidden {
  min-width: 135px;
  text-align: center;
}

.catalog-list__button-hidden:hover .catalog-list__cart-icon {
  opacity: 1;
}

.catalog-list__item:hover .catalog-list__wrapper {
  width: 220px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalog-list__item:hover .catalog-list__image {
  display: none;
}

.catalog-list__price {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
}

.catalog-list__price-sale {
  font-size: 17px;
  color: var(--average-grey);
  text-decoration: line-through;
  margin-bottom: 12px;
}

.catalog-list__item .button--green:active {
  color: var(--white-four);
}

/* CATEGORIES SECTION */

.categories-list__wrapper-flex {
  display: flex;
  justify-content: space-between;
}

.categories-list {
  list-style: none;
  padding: 0;
}

.categories-list__item {
  /* display: flex; */

  flex-basis: 300px;
  position: relative;
  min-height: 123px;
  padding: 26px 22px 22px 22px;
  margin-bottom: 20px;
  color: var(--white-four);
  background-color: var(--butterscotch);
}

.categories-list__item:not(:last-child) {
  margin-right: 20px;
}

.categories-list__item::after {
  position: absolute;
  content: "";
  width: 44px;
  height: 65px;
  top: 31px;
  left: 210px;
  background-image: url(../img/icons/icon-1.svg);
}

.categories-list__heading {
  margin: 0 0 17px 0;
  font-size: 24px;
}

/* .categories__slider {
  flex-basis: 620px;
} */

.item-slider {
  max-width: 620px;
  height: 266px;
  color: var(--white-four);
  margin: 0;
  padding: 27px 24px 22px 24px;
  position: relative;
  /* float: left; */
}

.item-slider__heading {
  margin: 0;
  /* padding: 0 0 8px 0px; */
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
}

.item-slider__moto {
  font-size: 18px;
}

.item-slider--first {
  background-image: url(../img/slider-image.jpg);
  width: 620px;
  margin: 0;
}

.item-slider--second {
  background-image: url(../img/slide-image-2.jpg);
}

.item-slider__button {
  position: absolute;
  bottom: 22px;
  left: 25px;
}

/* 
POPULAR-ITEMS SECTION  */

.popular-items {
  font-family: "PT Sans", sans-serif;
}

/* BRANDS SECTION */

.brands {
  padding-bottom: 65px;
}

.brands-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.brands-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 220px;
  min-height: 145px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}

/* BENEFITS */

.benefits {
  font-family: "PT Sans", sans-serif;
  background-color: var(--pale-grey);
  padding: 65px 0 65px 0;
}

.benefits__heading {
  margin-bottom: 35px;
}

.benefits__description {
  font-size: 13px;
  margin: 0 0 73px 0;
}

.features-list {
  list-style: none;
  max-width: 240px;
  margin: 0;
  padding: 0;
  position: relative;
}

.features-list::after {
  position: absolute;
  content: url(../img/shadow.png);
  width: 10px;
  height: 51px;
  top: -20px;
  left: 230px;
}

.features-list__button {
  font-family: "Cuprum", sans-serif;
  font-weight: bold;
  width: 100%;
  font-size: 21px;
  text-align: left;
  padding: 22px;
  background-color: var(--dark-blue);
  color: var(--white-four);
  border: 1px solid var(--primary-dark);
}

.features-list__button:active {
  color: var(--dark-blue);
  background-color: var(--white-four);
  border: none;
}

.features-list__item {
  display: block;
}

/* ABOUT SECTION */

.about {
  display: flex;
  justify-content: space-between;
  padding: 64px 16px 86px 16px;
}

.about__heading {
  padding: 18px 0;
  margin: 0;
}

.about__description {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0 0 34px 0;
}

.about__large-map-link {
  max-height: 158px;
  max-width: 300px;
  padding: 0;
  margin: 0;
  border: none;
}

.about__button {
  margin-top: 40px;
}

/* MODALS CONTACT FORM */

.contacts__form {
  width: 620px;
  height: 430px;
  top: 20%;
  left: 50%;
  margin-left: -310px;
  background-color: var(--white-four);
  color: var(--black);
  border-top: 7px solid var(--strawberry);
}

.modal {
  display: none;
  position: fixed;

  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}
.modal__close {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 9px;
  right: 9px;
  background-image: url(../img/icons/icon-close.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.map-modal {
  width: 940px;
  height: 446px;
  top: 20%;
  left: 50%;
  margin-left: -470px;
}

.contact-form__top-container {
  padding: 55px 80px 37px 80px;
  margin: 0 auto;
}

.contact-form__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.contact-form__input-wrapper {
  display: flex;
  flex-direction: column;
}

.contact-form__input,
.contact-form__textarea {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  padding: 13px 16px;
  color: var(--average-grey);
  border: 2px solid var(--light-grey);
  border-radius: 3px;
}

.contact-form__input:hover,
.contact-form__textarea:hover {
  border: 2px solid var(--greyish);
}

.contact-form__input:focus,
.contact-form__textarea:focus {
  outline: none;
  border: 2px solid var(--strawberry);
}

.contact-form__label {
  font-size: 18px;
  color: var(--black);
  margin-bottom: 10px;
}

.contact-form__input {
  width: 220px;
  height: 38px;
}

.contact-form__bottom {
  background-color: #f4f4f4;
  padding: 37px 80px;
}

.contact-form__button {
  margin: 0 auto;
  width: 100%;
  border-radius: 3px;
}
